@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #111633;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 1.5s ease-in-out;
}

@layer components {
    .btn-down {
        @apply bg-[#e0922b] hover:bg-[#b07221] text-white font-semibold p-4 rounded-full mt-4;
    }

    .section-style {
        @apply animate-fade-in flex justify-center items-center h-screen max-[800px]:px-2;
    }
}